@using Microsoft.AspNetCore.Http

<h1>Random Password(password #@Context.Session.GetInt32("amount"))</h1>

<p>@Context.Session.GetString("password")</p> 
<a href="/"><button>Generate Password</button></a>
