@model DojoSurveyValidation.Models.Survey

<h1> Dojo Survey </h1>
<form action="/result" method="POST">
  <div>
    <label>Your name: </label>
    <input type="type" asp-for="FullName" id="FullName">
    <span asp-validation-for="FullName"></span>
  </div>
  <div>
    <label>Dojo Location:</label>
    <select name="Location" id="Location">
      <option disabled selected>Choice Location</option>
      <option value="Hawaii">Hawaii</option>
      <option value="San Francisco">San Francisco</option>
      <option value="Chicago">Chicago</option>
      <option value="NewYork">New York</option>
    </select>
    <span asp-validation-for="Location"></span>
  </div>
  <div>
    <label>Favorite Language: </label>
    <select name="Language" id="Language">
      <option disabled selected>Choice Language</option>
      <option value="C#">C#</option>
      <option value="MERN">MERN</option>
      <option value="PYTHON">PYTHON</option>
      <option value="JAVA">JAVA</option>
    </select>
    <span asp-validation-for="Language"></span>
  </div>
  <div>
    <label for="Comment">Comment (optional): </label>
    <textarea name="Comment" id="Comment" cols="30" rows="1"></textarea>
    <span asp-validation-for="Comment"></span>
  </div>
  <button>Submit</button>
</form>