@model List<Dish>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CRUDelicious</title>
</head>
<body>
  <h1>Welcome to CRUDelicious</h1>
  <div>
    <h3>Check out some recent dishes!</h3>
    <a href="/dishes/new"><h3> Add a Dish</h3></a>
  </div>
  <ul>
    @foreach (Dish dish in Model)
    {
      <li>
        <a href="/dishes/@dish.DishId">@dish.Name</a> by @dish.Chef
      </li>
    }
  </ul>
</body>
</html>


